<div class="grid-container">

  <div class="dashboard-card">
    <p>Fields required for input are marked with <span style="color: red">*required</span></p>
    <mat-card>
      <mat-card-header>
        <mat-toolbar  class="header-title">New Customer Sign-Up</mat-toolbar>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <form #userForm="ngForm">
          <div>
            <p>Email: <span style="color: red">(required)</span></p>
            <input type="email" name="email" ngModel>
          </div>
          <div>
            <p>Confirm Email: <span style="color: red">(required)</span></p>
            <input type="email" name="confirmEmail" ngModel>
          </div>
          <div class="left">
            <p>First Name:</p>
            <input type="text" name="firstName" ngModel>
          </div>
          <div class="right">
            <p>Last Name:</p>
            <input type="text" name="lasttName" ngModel>
          </div>
          <div style="clear:both;"></div>
          <div>
            <p>Company Name:</p>
            <input type="text">
          </div>
          <div>
            <p>Address: <span style="color: red">(required)</span></p>
            <input type="text" name="address" ngModel>
          </div>
          <div>
            <p>City: <span style="color: red">(required)</span></p>
            <input type="text" name="city" ngModel>
          </div>
          <div>
            <p>Province: <span style="color: red">(required)</span></p>
            <input type="text" name="province" ngModel>
          </div>
          <div>
            <p>Postal: <span style="color: red">(required)</span></p>
            <input type="text" name="postal" ngModel>
          </div>
          <div class="left">
            <p>Phone 1: <span style="color: red">(required)</span></p>
            <input type="text" name="phone1" ngModel>
          </div>
          <div class="right">
            <p>Phone 1 Type: </p>
            <select name="phone1Type" ngModel>
              <option selected>-select-</option>
              <option *ngFor="let phoneType of phoneTypes">{{ phoneType }}</option>
            </select>          
          </div>
          <div style="clear:both;"></div>
          <div class="left">
            <p>Phone 2: </p>
            <input type="text" name="phone2" ngModel>
          </div>
          <div class="right">
            <p>Phone 2 Type: </p>
            <select name="phone2Type" ngModel>
              <option selected>-select-</option>
              <option *ngFor="let phoneType of phoneTypes">{{ phoneType }}</option>
            </select>          
          </div>
          <div style="clear:both;"></div>
          <div class="left">
            <p>Phone 3:</p>
            <input type="text" name="phone3" ngModel>
          </div>
          <div class="right">
            <p>Phone 3 Type: </p>
            <select name="phone3Type" ngModel>
              <option selected>-select-</option>
              <option *ngFor="let phoneType of phoneTypes">{{ phoneType }}</option>
            </select>          
          </div>
          <div style="clear:both;"></div>
          <div class="left">
            <p>Security Question: <span style="color: red">(required)</span></p>
            <select name="securityQues" ngModel>
              <option value="volvo">Volvo</option>
            </select>          
          </div>
          <div class="right">
            <p>Answer: <span style="color: red">(required)</span></p>
            <input type="text" name="answer" ngModel>
          </div>
          <div style="clear:both;"></div>
          <br >
          <button style="margin-right: 5px" type="submit">Sign Up</button>
          <button type="">Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> 

